#header{
    background-color: #7f462c;
    padding: 20px 20px 20px 20px;
}

#header1{
    text-align: center;
    margin: auto;
    color: white;
}

#header2{
    text-align: center;
    margin: auto;
    color:white;
}